<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ejs profile</title>
</head>
<body>
  <p>profile을 보고있음</p>
</body>
</html>